In [3]:
#int--->float
a= 40
b= float(a)
print (a)
print(b)

40
40.0

In [5]:
#int-->str
a= 90
b=str(a)
print(a)
print(b)

90
90

In [6]:
#str--->int
a='90'
b=str(a)
print(a)
print(b)

90
90

In [7]:
#float--->int
a=99.32
b=int(a)
print(a)
print(b)

99.32
99

In [8]:
#string---->float
a='67.65'
b=float(a)
print(a)
print(b)

67.65
67.65

In [9]:
amount= int(input("Enter the amount"))
five=0
two=0
one=0
if amount % 100 ==0 :
    if amount>=500:
        five = amount//500
        print("500 notes are ",five)
        amount = amount-(five*500)
    if amount>=200:
        two = amount//200
        print("200 notes are ",two)
        amount = amount-(two*200)
    if amount>=100:
        one = amount//100
        print("100 notes are ",one)
        amount = amount-(one*100)
else :
    print("Enter the amount in the multiples 100")

Enter the amount 23200

500 notes are  46
200 notes are  1

In [3]:
bs =float (input("Enter the basic salary"))
if bs <20000:
    hra = 0.76*bs
    da = 0.78*bs
elif 20000<=bs<=30000:
    hra = 0.79*bs
    da = 0.82*bs
elif bs>30000:
    hra = 0.85*bs
    da = 0.89*bs
gs = bs+da+hra

print("Your Gross salary is",gs)

Enter the basic salary 25000

Your Gross salary is 65250.0

In [24]:
salary = int (input("Enter your salary "))
if salary <=500000:
    tds = 0*salary 
else:
    if salary<=700000:
        tds = 0.05*(salary-500000)
    elif salary<=1000000:
        tds = (200000*0.05)+(salary - 700000)*0.10
    elif salary <= 1500000:
        tds = (200000 * 0.05) + (300000 * 0.10) + (salary - 1000000) * 0.15
    elif salary<=2000000:
        tds = (200000 * 0.05) + (300000 * 0.10) + (500000 * 0.15) + (salary - 1500000) * 0.20
    else:
        tds = (200000 * 0.05) + (300000 * 0.10) + (500000 * 0.15) + (500000 * 0.20) + (salary - 2000000) * 0.30

print("TDS:",tds)

Enter your salary  1200000

TDS: 70000.0